# Ignore everything by default
*

# Do NOT ignore directories themselves 
# (the trailing slash is important!)
!Images/
!Images/**
!Data/
!Data/**

# Explicitly un-ignore the one file we care about
!EaRL.tex
